/* presentation des sources */
.source		{
    		color: blue;
                 background-color: lightgray;
		 margin: 0.5em;
		 padding: 5px;
		 width: 80%;
		 height: 50%;
		 overflow: auto;
		 }

img {display: block;
      margin: 0 auto;
    /*  height: 90%;  spécifiez la hauteur de l'image, une bonne attitude à prendre */
    /*  width: 90%;  spécifiez la largeur de l'image, une bonne habitude à prendre */
}

#letitre  {text-align:center;}
iframe {width:80%;margin-left:10%;}
