/* heading styles */
h1		{ text-align: center ;  }

h2		{ }

h3		{  }

h4		{  }

h5		{  }

.correction	{font-weight: bold; background-color: lightyellow}

/* on avait essayé display: run-in; ici, mais ça ne marche pas dans FF.*/
dt	{font-style: italic; font-weight: bold; }

dd	{}

.legende {font-variant: small-caps;}

.error {color:red}


#pageNumber {text-align: right; position: absolute; top: 1em; right: 1em}

pre		{
		 margin: 0.5em;
		 padding: 5px;
		 width: auto;
		 position: relative;
		 overflow: auto;
		 }

/* Abandonné pour l'instant... ne "rend" pas bien si le texte est grossi.*/
/*.sourceExemple:before {content:"Source"; font-weight: bold;}*/
/*.sourceExemple {float:right;  overflow: scroll; }*/
.sourceExemple {   }

.right {float:right;}

.framed {border-style: solid; width: 50%}

.bottom {position: fixed; bottom : 1em; clear: both;}

.endSpace {height:3em;}

.tt {font-family: monospace}
.important {font-weight: bold;color:red}
.fig {text-align: center;}
