div div{
    border-color: red;
    border-style: solid;
    border-width: medium;
    display: block;
}
div{
    color:green;

}
strong{
    background-color:blue;
    font-family: fantasy;
    font-size-adjust: auto;

}
