form{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    width: 500px;
    margin: 0 auto;
    padding: 2em;
    border: 5px dashed salmon;
    border-radius: 1em;
}
input:focus, textarea:focus{
    border: black;
}
textarea{
    vertical-align: top;
    height: 5em;
}
#titre{
    font-family: fantasy;
}
#bouton_envoyer{
    object-position: center;
    padding-left: 90px;
    margin-left: 0.5emy;
    height: 3em;
}
